/* Floating */

.fl {
	float: left;
}
.fr {
	float: right;
}

/* Margins */

.mt-sml {
	margin-top: 10px;
}
.mt-med {
	margin-top: 20px;
}
.mt-lrg {
	margin-top: 30px;
}
.mb-sml {
	margin-bottom: 10px;
}
.mb-med {
	margin-bottom: 20px;
}
.mb-lrg {
	margin-bottom: 30px;
}
.ml-med {
	margin-left: 20px;
}

/* Padding */

.p-med {
	padding: 20px;
}

/* Inline Elements */

.inline {
	display: inline;
}
.inline-b {
	display: inline-block;
}
/* Buttons */

.bl-btn-sml {
	/* Rectangle 7: */
background: #6EB7FF;
border: 1px solid #4790D7;
border-radius: 2px;
/* Add a Meal: */
font-family: Lato-Bold;
font-size: 13px;
color: #FFFFFF;
line-height: 16px;
height: 28px;
text-decoration: none;
display: block;
text-align: center;
line-height: 28px;
}
.bl-btn-med {
	background: #47a3ff;
	height: 34px;
	padding: 0 15px 0 15px;
	line-height: 34px;
	font-size: 13px;
	font-weight: bold;
	color: #edf6ff;
	display: block;
	text-decoration: none;
	border-bottom: 2px #2e8deb solid;
	border-radius: 2px;
	transition: .3s;
}
.bl-btn-med:hover {
	color: #fff;
	background: #58acff;
}