body {
	background: #edf1f5;
	font-family: "Lato", sans-serif;
}
.wrapper {
	margin: 0 auto;
	width: 960px;
}

.cf {
	background: #fff;
	border-radius: 3px;
	border: #e4e8ed 1px solid;
	padding: 20px;
	box-shadow: #e1e7ee 0 2px 0;
}
h1 {
	color: #505a66;
	font-weight: 400;
}
.cf p {
	font-size: 15px;
	font-weight: 100;
	color: #727c88;
	padding-top: 10px;
	line-height: 24px;
}
.calories {
	margin-top: 20px;
}
.calories ul li {
	color: #727c88;
	display: inline;
	font-size: 15px;
	font-weight: 100;
}
/* Header */

header {
	background: #1f2429;
	height: 50px;
	padding: 0 2% 0 2%;
}
.site-search {
	background: #fff url(images/search.png) no-repeat 210px;
	border-radius: 3px;
	border: #131619 1px solid;
	height: 28px;
	margin-top: 14px;
	width: 220px;
	padding-left: 10px;
	float: left;
}

table img {
	float: left;
	padding-right: 15px;
}
td.message-received {
	vertical-align: middle;
}
.active-user a {
	color: #cbd3db;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	transition: .3s;
	line-height: 50px;
}
.active-user a:hover {
	color: #fff;
}

/* Icons */

.icon-search {
    color:#8b97a4;
    font-size: 12px;
   	top: 2px;
    position:relative;
    left:-24px;
}
.search {
	margin-top: 9px;
	background: #fff;
	border-radius: 3px;
	border: #000 1px solid;
	height: 28px;
	display: inline-block;
	width: 240px;
	padding-left: 10px;
}

/* Sidebar */

aside {
	background: #2b70b5;
	height: 100%;
	position: absolute;
	width: 60px;
}
aside img {
	opacity: .8;
	padding: 20px;
	transition: .1s;
}
aside img.active-img {
	opacity: 1;
}
aside img:hover {
	opacity: 1;
}
aside ul li {
	border-bottom: #1f63a7 1px solid;
	height: 60px;
	transition: .1s;
	text-align: center;
	line-height: 68px;
	width: 60px;
}
aside ul li:hover {
	background: #3b82c8;
}
aside ul li.active {
	background: #3b82c8;
}
aside ul li a {
	text-decoration: none;
	display: block;
	height: 60px;
	width: 60px;
}

/* Login */

.login {
	margin-top: 12px;
}
label {
	color: #808b96;
	font-size: 13px;
}
.login-input {
	background: #fff;
	border: #131619 1px solid;
	border-radius: 2px;
	height: 24px;
	padding: 0 10px 0 10px;
}

.active-user img {
	height: 28px;
	width: 28px;
	margin-top: 12px;
	margin-right: 10px;
	border-radius: 3px;
	float: left;
}
/* Content */

.content-full {
	background: #fff;
	border-radius: 3px;
	border: #cdd6df 1px solid;
	box-shadow: #dce4eb 0 2px 0;
}
.content {
	padding: 20px;
}
p {
	color: #808b96;
	font-size: 13px;
	line-height: 20px;
}
.divider {
	background: #e3e7ec;
	display: block;
	height: 1px;
	margin-bottom: 10px;
}
.mt-med {
	margin-top: 20px;
}
.signup {
	width: 340px;
	display: inline-block;
}
.question {
	color: #808b96;
	font-size: 13px;
	font-weight: 400;
	width: 200px;
	float: left;
	line-height: 20px;
}
.answer {
	float: left;
	width: 200px;
}
.answer-input {
	background: #fff;
	border-radius: 2px;
	border: #cdd6df 1px solid;
	height: 24px;
	width: 180px;
	padding: 0 10px 0 10px;
}

/* Banner */

.banner {
	background: url(../images/banner.jpg) no-repeat;
	height: 380px;
}




.icon-chevron-down2:before {
    content: "\f078";
    font-size: 12px;
    padding-left: 10px;
}