/*	Global */

body {
	
}

/*	Header */

.top-header {
	background-color: #888;
}
.search-bar {
	float: left;
}
.search-input {
	display: inline;
	width: 50vw;
	height: 3.5em;
}
.search-header {
	display: inline;
}
.nav-img {
	border: 0;
	border-radius: 1000px;
	height: 3.5em;
	width: 3.5em;
}
.profile-img-cnt {
    float: right;
}
.select-cnt {
	float: right;
}
.nav-select {
	height: 4em;
}
.sidebar {
	float: left;
	clear: both;
	background-color: #888;
	padding: 0.5em;
	margin: 1em;
	min-height: 50vh;
}
.sidebar-item {
	display:block;
	margin: 0.5em;
	font-size: 1.6em;
	text-decoration: none;
	color: #fff;
}
.page-wrap {
	clear: right;
	padding-top: 1em;
}


/*	Footer */

footer {
	clear:both;
}


/*	Conversation List */

/*	For fade */
 .message-preview {
  font-size: 1.2em;
  position: relative;
  height: 1.2em;
  overflow: hidden;
  margin-bottom: 0.5em;
}
.message-preview:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 33%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 33%);
} 